.signupbtn, .createaccbtn, .signinbtn{

    
    display:inline-flex;
    width: 379px;
    height: 49px;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
    border-radius : 30px;
    font-weight: 550;
    cursor: pointer;
    padding: 10px;
   
    
}
.signupbtn{
    border: 1px solid #999;
    
    
}

.signupbtn img{
    width: 30px;
    margin-right: 10px;
    

}
.createaccbtn, .signinbtn{
    background-color: #ff006e ;
    color: white;
    border: none;
}
